@import './foundation/foundation-sites.scss';

body {
  // background: #ccc;
}

.sr-target {
  width: 20em;
  height: 20em;
  margin: 2.5em;
  background: #336699;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  border-radius: 10em;
}

