// WELCOME PAGE ////////////////////////////////////////////////////////////////
.radius {
  border-radius: 3px;
}

.outline, .callout {
  border: 1px solid $medium-gray;
  @extend .radius
}

code, pre {
  @extend .callout;
  padding: 0.2em 0.4em;
  border: 0;
  font-size: .85rem;
  font-family: 'Source Code Pro';
  background: $light-gray;
}
small code {
    font-size: .75rem;
}
pre {
  padding: 1rem 1.25rem !important;
  text-indent: -5px !important;
}

.yellow {
  color: $warning-color;
  font-weight: 600;
}
h1.yellow {
  @include breakpoint(small only) {
    font-size: 3rem;
  }
}

.connecting-dots canvas, canvas.connecting-dots {
  pointer-events: none;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include breakpoint(small only) {
    // opacity: 0
  }
}

// FOUNDATION FORMS ////////////////////////////////////////////////////////////
input, select, button, .button, fieldset, textarea, input[type] {
  @extend .radius
}

select {
  line-height: 100%;
}

input[type="checkbox"], input[type="radio"] {
  margin: 0;
  vertical-align: middle;
}

.input-group {
  *:first-child {
    border-radius: 3px 0 0 3px;
  }
  *:last-child {
    border-radius: 0 3px 3px 0;
  }

  input:not(:first-child), input:not(:last-child) {
    border-radius: 0;
  }
}

// BUTTONS, BADGES, LABELS, PROGRESS ///////////////////////////////////////////
.button-group .button {
  margin: 0 1.5px;
}

.badge {
  vertical-align: middle;
  font-weight: bold;
  font-size: .7rem;
  line-height: 1.3rem;
  height: 1.3rem;
  width: 1.3rem;
  min-width: 1rem;
  padding: 0;
  margin-bottom: .3em;
}

.label, .progress, .progress-meter {
  border-radius: 2px;
  font-weight: bold;
  i {
    margin-right: .2rem;
    font-size: 1rem;
    vertical-align: text-top;
  }
}
.progress-meter-text {
  transform: translate(-50%, -51%)
}

// MASONRY /////////////////////////////////////////////////////////////////////
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 3px;
  grid-auto-rows: minmax(120px, auto);
  grid-auto-flow: dense;
  padding: 10px;
  width: 100%;
}

.grid-item {
  padding: 1rem;
  text-transform: uppercase;
  color: rgba(0,0,0,0);
  background-color: #333;
  border-radius: 3px;
  &:nth-child(odd) {
      background-color: #424242;
  }
}

.span-2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

.span-3 {
  grid-column-end: span 3;
  grid-row-end: span 4;
}

// CRISP RESPONSIVE IMAGES /////////////////////////////////////////////////////
img {
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}